[defaults]
become_user = root
transport = ssh
remote_user = vagrant
#private_key_file = /root/.ssh/id_rsa
roles_path = ./roles
inventory      = ./hosts.centos7.vagrant

callback_whitelist = profile_tasks
retry_files_enabled = False

[ssh_connection]
ssh_args= -o PasswordAuthentication=no -o ControlMaster=auto -o ControlPersist=60s -o ControlPath=/tmp/ansible-ssh-%h-%p-%r -o StrictHostKeyChecking=no
